# Covariance & Correlation

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')
data = df.select_dtypes(include='number') # only taking numerical values
data.head()

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3
2       21.01  3.50     3
3       23.68  3.31     2
4       24.59  3.61     4

In [3]:
data.cov()

            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591

In [4]:
# Pearson correlation coefficient
data.corr(method="pearson")

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [5]:
# Spearman Rank correlation

data.corr(method="spearman")

            total_bill       tip      size
total_bill    1.000000  0.678968  0.604791
tip           0.678968  1.000000  0.468268
size          0.604791  0.468268  1.000000